langgraph
langchain
openai
python-dotenv
langchain-openai
langchain-ollama
ollama
fastapi
uvicorn
chromadb==0.4.17
sqlite4
pypdf
sqlglot
python-multipart
jinja2
langchain_community
streamlit
streamlit-chat
pyyaml
extra-streamlit-components
python-dotenv>=1.0.0
langchain-openai>=0.0.2
numpy>=1.22.0
pypdf2>=3.0.0
pdfminer.six>=20221105