langgraph
langchain
openai
python-dotenv
langchain-openai
langchain-ollama
ollama
fastapi
uvicorn
chromadb
sqlite4
pypdf
sqlglot
python-multipart
jinja2
langchain_community
streamlit
streamlit-chat
pyyaml
extra-streamlit-components
python-dotenv
langchain-openai
numpy
pypdf2
pdfminer.six
pathlib
watchdog
#langgraph-supervisor
langgraph.checkpoint.sqlite
